@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* Root */
::-webkit-scrollbar { width: 0; }
:root {
    --mainColor: #272727;
    --mainColorDarker: #1f1f1f;
    --secondColor: #222222;
    --purple: #6e3be6;
    --purpleOpacited: rgba(110, 59, 230, 0.3);

    scrollbar-color: black !important;
    scrollbar-width: 15px !important;
}

/* HTML */
* {outline: none;}
*:disabled {opacity: 0.7;cursor: not-allowed;}
body {margin: 0;font-family: 'DM Sans', sans-serif;overflow: hidden;}
a, a:visited, a:focus {color: var(--purple);text-decoration: none;}
img {content-visibility: auto;}
button {
    margin-top: 2pc;
    border-radius: 60px;
    border: none;
    background-color: var(--purple);
    box-shadow: 0px 0px 10px var(--purpleOpacited);
    cursor: pointer;
    transition: box-shadow .4s ease;
    text-transform: uppercase;
    padding: 1rem 2pc;
    color: white;
    width: -moz-max-content; /* Firefox */
}
button:hover {box-shadow: 0px 0px 40px var(--purpleOpacited);}
input[type="text"]{
    border: none;
    background-color: var(--mainColor);
    padding: 1pc 1pc;
    border-radius: 50px;
    color: white;
    min-width: 20vh;
}
hr {margin-top: 3pc;opacity: .1;}

/* Classes and ids */
.noDisplay {display: none;}
#logout {
    z-index: 99;
    position: absolute;
    bottom: 20vh;
    right: 3pc;
    background: #eb4b4b;
    box-shadow: 0px 0px 10px rgba(235, 75, 75, 0.5);
    transition: box-shadow .4s ease;
}
#logout:hover {box-shadow: 0px 0px 40px rgba(235, 75, 75, 0.5);}
.zmdi-close-circle, .zmdi-check-circle, .zmdi-alert-circle {font-size: 7vh;}
.zmdi-close-circle {color: #eb4b4b;}
.zmdi-check-circle {color: #3abd36;}
.zmdi-alert-circle {color: #ffe552;}

/* Navbar */
ul {margin: 0;list-style-type: none;}
.navbar {
    user-select: none;
    display: flex;
    padding: 2.5pc;
    background-color: var(--mainColor);
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar .title {
    font-size: 2.5vh;
    font-family: 'Fjalla One', sans-serif;
}
.navbar li {font-size: 1.5vh;}
.navbar li.button {
    border-radius: 60px;
    background-color: var(--purple);
    box-shadow: 0px 0px 10px var(--purpleOpacited);
    cursor: pointer;
    transition: box-shadow .4s ease;
    text-transform: uppercase;
}
.navbar li.button:hover {box-shadow: 0px 0px 40px var(--purpleOpacited);}

.navbar .not_logged li {padding: 1rem 2pc;}
.navbar .logged li {
    display: flex;
    align-items: center;
    padding: .5pc .5pc;
}
.navbar .logged li .avatar {
    width: 2.5pc;
    height: 2.5pc;
    border-radius: 50%;
    margin-right: 2vh;
    background-image: url(../img/utils/default_avatar.jpg);
    background-size: cover;
}
.navbar .logged li .balance {
    margin-right: 2vh;
    font-size: 1pc;
}

/* Main section */
#mainSite {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
}

/* Aside */
section aside {
    flex: 0 0 auto;
    width: 25vh;
}
section aside ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--secondColor);
}
section aside ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 20vh;
    background-color: var(--secondColor);
    animation: asideLoaded .4s ease;
}
section aside ul li img {width: 80%;animation: fadeIn 2s ease;}

/* Article */
section article {
    width: 100%;
    flex: 1 0 auto;
    background-color: var(--mainColorDarker);
}

/* Cases page */
#mainPage .container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    overflow-y: auto;
    padding: 3pc 2pc;
}
#mainPage .container .case {
    width: 25vh;
    height: fit-content;
    color: white;
    text-align: center;
}
#mainPage .container .case img {
    width: 85%;
    filter: drop-shadow(0px 0px 20px var(--purpleOpacited));
    transition: all .4s ease;
    animation: fadeIn 4s ease;
}
#mainPage .container .case img:hover {
    transform: translateY(-5px) scale(1.01);
    filter: drop-shadow(0px 0px 40px var(--purpleOpacited));
}
#mainPage .container .case button {margin-top: 2pc;}

/* Opening Cases page */
#openCase {flex-direction: column;flex: 1 0 auto;overflow-y: auto;}
#openCase header, #inventory header {
    display: flex;
    background-color: var(--secondColor);
    padding: 1pc;
    justify-content: flex-start;
}
#openCase header i, #inventory header i {
    font-size: 3vh;
    margin-left: 1pc;
    color: white;
    cursor: pointer;
}
#openCase .container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    width: 80%;
    overflow-y: auto;
    justify-content: center;
}
#openCase .sub-container {
    display: flex;
    overflow-y: auto;
    height: 50vh;
    padding: 3pc;
    flex-direction: column;
}
#openCase #spinningMachine {
    display: flex;
    flex-direction: column;
}
#openCase #spinningMachine button {
    width: fit-content;
    margin-left: 2pc;
}
#openCase #spinningMachine {
    display: flex;
    flex-direction: column;
}
#openCase #spinningMachine button {
    width: fit-content;
    margin-left: 2pc;
}
#openCase #spinningMachine #spinner {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0;
    margin-top: 2pc; 
    width: 80vh;
}
#openCase #spinningMachine #spinner::before {
    position: fixed;
    content: "";
    width: 2px;
    height: 16pc;
    background: #ffc919;
    z-index: 1;
    margin-left: 8pc;
}
#openCase #spinningMachine #spinner div:empty { margin-left: -200px;}
#openCase #spinningMachine #spinner div {
    display: inline-flex;
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.123);
    padding: 1pc;
    margin: 0;
    align-items: center;
    transition: margin-left .4s cubic-bezier(0.5, 0, 0, 1);
}
#openCase #spinningMachine #spinner div img {width: 100%}

/* Case content */
#openCase #caseContent {
display: flex;
flex-wrap: wrap;
width: 80%;
overflow: auto;
height: 198px;
}
#openCase #caseContent div {
    display: inline-flex;
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.123);
    padding: 1pc;
    margin: .5pc .5pc;
    align-items: center;
    transition: transform .4s ease;
}
#openCase #caseContent div:hover {transform: translateY(-5px);}
#openCase #caseContent div img {width: 100%}
#openCase h3 {font-size: 2pc;color: white;}

/* Inventory */
#inventory {
    flex-direction: column;
    flex: 1 0 auto;
    overflow-y: auto;
}
#inventory .container {
    padding: 0 2pc;
    color: white;
    overflow: auto;
}
#inventory .container .addMoney {display: flex;flex-direction: column;}
#inventory .container .addMoney button {margin-left: 1pc;}
#inventory .container h1 {font-size: 2pc;margin-bottom: 1pc;}
#inventory .container #skins {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5pc;
    width: 100vh;
    overflow-y: auto;
    height: 40vh;
}
#inventory .container #skins div {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5pc;
    margin: .5pc;
    background: var(--mainColor);
    width: 10pc;
    height: 10pc;
}
#inventory .container #skins div img {width: 100%;}
#inventory .container #skins div:hover > .details {opacity: 1;}

#inventory .container #skins div .details {
    user-select: none;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-1pc);
    background: rgba(0, 0, 0, 0.8);
    transition: all .2s ease;
    position: absolute;
    z-index: 10;
}
#inventory .container #skins div .details button {font-size: 70%;}
#inventory .container #skins div .details span {margin: .5pc;}
#inventory .container #skins div .details span:first-child {font-size: 70%;}

/* Modal */
.modalContainer {
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    animation: fadeIn .2s ease;
}
.modalContainer .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3pc 5pc;
    background-color: var(--mainColorDarker);
    border-radius: 10px;
    animation: fadeIn .8s ease;
    min-width: 30vh;
}
.modalContainer .modal > div {
    display: flex;
    user-select: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.modalContainer .modal > div * {margin: 1pc 0;}
.modalContainer .modal .skinImage {
    display: inline-flex;
    width: 150px;
    height: 150px;
    padding: 1pc;
    border-radius: 5px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}
.modalContainer .modal .skinImage img {width: 100%}

/* Items Rarities */
section aside ul li.consumer {border-left: 10px solid #afafaf;box-shadow: inset 72px 0px 95px -60px #afafaf;}
section aside ul li.industrial {border-left: 10px solid #6496e1;box-shadow: inset 72px 0px 95px -60px #6496e1;}
section aside ul li.mil-spec {border-left: 10px solid #4b69cd;box-shadow: inset 72px 0px 95px -60px #4b69cd;}
section aside ul li.restricted {border-left: 10px solid #8847ff;box-shadow: inset 72px 0px 95px -60px #8847ff;}
section aside ul li.classified {border-left: 10px solid #d32ce6;box-shadow: inset 72px 0px 95px -60px #d32ce6;}
section aside ul li.covert {border-left: 10px solid #eb4b4b;box-shadow: inset 72px 0px 95px -60px #eb4b4b;}

*.border-consumer {border-left: 4px solid #afafaf;}
*.border-industrial {border-left: 4px solid #6496e1;}
*.border-mil-spec {border-left: 4px solid #4b69cd;}
*.border-restricted {border-left: 4px solid #8847ff;}
*.border-classified {border-left: 4px solid #d32ce6;}
*.border-covert {border-left: 4px solid #eb4b4b;}

*.border_bottom-consumer {border-bottom: 4px solid #afafaf;box-shadow: inset 0px -150px 100px -150px #afafaf5d;}
*.border_bottom-industrial {border-bottom: 4px solid #6496e1;box-shadow: inset 0px -150px 100px -150px #6496e15d;}
*.border_bottom-mil-spec {border-bottom: 4px solid #4b69cd;box-shadow: inset 0px -150px 100px -150px #4b69cd5d;}
*.border_bottom-restricted {border-bottom: 4px solid #8847ff;box-shadow: inset 0px -150px 100px -150px #8847ff5d;}
*.border_bottom-classified {border-bottom: 4px solid #d32ce6;box-shadow: inset 0px -150px 100px -150px #d32ce65d;}
*.border_bottom-covert {border-bottom: 4px solid #eb4b4b;box-shadow: inset 0px -150px 100px -150px #eb4b4b5d;}

/* Animations */
@keyframes asideLoaded {
    from {height: 0;opacity: 0;}
    to {height: 20vh;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Responsive */
@media screen and (max-width: 640px){
    body #mainSite * { display: none; }
    body #mainSite { background-color: var(--mainColorDarker); }
    #openProfile, #login { display: none; }

    body #mainSite::before {
        display: flex;
        font-family: 'Fjalla One', sans-serif;
        content: "Caged-Steel isn't available on mobile 🗿";
        color: white;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70vh;
    }
}
